/* Estilos personalizados para artigos */

/* Reduzir o espaçamento entre itens de listas */
.prose ul li,
.prose ol li {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}

/* Ajustar espaçamento entre blocos de listas */
.prose ul,
.prose ol {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}